// reset

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// container

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// span 

span {
    display: flex;
}

// text-container

.text-container {
    position: relative;
    z-index: 1;
    overflow: hidden;
    width: fit-content;
    height: fit-content;
    border: 0.2rem solid rgb(205, 204, 201);
    min-width: 40vmin;
    min-height: 10rem;

    /*
    &:hover .text {
        background-position-x: 0%;
        text-shadow: 0 0 0.1rem rgba(255, 255, 255, 0);
        transition-delay: 1s, 200ms;
    }

    &:hover .text-background {
        transform: scaleX(1);
    }
    */
}

// text-container-active

.text-container-active {

    .text {
        background-position-x: 0%;
        text-shadow: 0 0 0.1rem rgba(255, 255, 255, 0);
        transition-delay: 1s, 200ms;
    }

    .text-background {
        transform: scaleX(1);
    }
}

// text, text-background

.text,
.text-background {
    padding: 2rem 3.1rem;
    min-width: inherit;
    min-height: inherit;
}

// text

.text {
    font-size: 3rem;
    color: transparent;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    background-clip: text;
    text-shadow: 0 0 0.1rem rgba(255, 255, 255, 1);
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, yellow, red, green, rgb(205, 204, 201) 50%);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    transition: text-shadow, background  2s linear;
    transition-delay: 2s, 200ms;
}

// text-background

.text-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: 110%;
    background-color: lightskyblue;
    transform-origin: left;
    transition: transform 2.2s linear;
    transform: scaleX(0);
}
